/* Media query for screens up to 768px */

@media (max-width: 768px) {
  header {
    background-position: center;
  }
  .nav-menu {
    display: none;
  }
  .burger-menu {
    display: inline-block;
    border: none;
    background-color: transparent;
    color: white;
    padding: 15px;
    font-size: 32px;
    cursor: pointer;
  }
  .navigation {
    width: 93%;
    padding-top: 2rem;
    margin: 0 3rem 4rem;
  }
  .center {
    width: 90%;
  }
  .main {
    padding: 6rem 2rem 10rem;
  }
  .main-flexbox {
    flex-direction: column;
    gap: 0;
    text-align: left;

    margin: 0 3rem;
  }
  .main h2 {
    margin-bottom: 3rem;
    /* margin: 0 4rem 3rem; */
  }

  .main h3 {
    margin-bottom: 3.5rem;
  }

  .main p {
    margin-bottom: 3rem;
  }

  .learn-more {
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .footer {
    height: auto;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5.6rem 12.5rem 7.5rem;
  }
}
